.classpath
.project
.settings
generated-src
build
target
bin
temp
.gradle
.couscous
couscous.phar
.okhttpcache
.idea
violations-gradle-plugin-example/code-climate-file.json
violations-gradle-plugin-example/violations-file.json

